* {
  color: rgb(196, 132, 14);
}
body {
  background-color: bisque;
}
.container {
  width: 600px;
  margin: 300px 300px 300px 300px;
  background-color: #092208;
  border-radius: 10px;
  box-shadow: 3px 3px 2px black;
}
h2 {
  font-size: xx-large;
  font-family: "Poltawski Nowy", serif;
  word-spacing: 10px;
  text-decoration: solid;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  text-shadow: 2px 2px 3px black;
  padding-top: 10px;
  margin-right: 90px;
}
form {
  font-size: xx-large;
  font-family: "Roboto Slab", serif;
  margin-left: 70px;
}
input {
  width: 250px;
  padding-top: 10px;
  font-weight: bolder;
  text-align: center;
  font-size: xx-large;
  padding-bottom: 10px;
  color: black;
  border-radius: 10px;
  margin-left: 10px;
  text-shadow: 4px 3px 3px grey;
}
button {
  margin: 70px 30px;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  font-weight: bold;
  color: black;
  font-size: x-large;
  text-shadow: 3px 2px 4px black;
  border-width: 10px;
}
p {
  font-size: xx-large;
  font-family: "Roboto Slab", serif;
  margin-left: 70px;
  margin-top: 10px;
}
.socialmedia {
  font-size: xx-large;
  font-weight: bold;
  margin-left: 70px;
  text-align: center;
}
button:hover {
  background-color: green;
}